@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/* .card{
    border: 2px solid saddlebrown;
} */