<!-- <div class="container">
<h1>Add Employee</h1>
 ngModel , ngForm => we have FormsModule in app.module.ts-->
<!-- template reference variable  local to the template-->
<!-- <p>{{empform.value | json}}</p> -->
<!-- <form #empform="ngForm" (submit)="saveEmployee(empform)">
    <div class="mb-3">
        <input type="text" class="form-control" [class.errborder]="eid.invalid && eid.touched" required
            placeholder="enter id" #eid="ngModel" ngModel name="eid"/> -->
        <!-- <span>{{ename.className}}</span> -->
        <!-- <div *ngIf="eid.touched">
            <div *ngIf="eid.errors && (eid.invalid)">
                <small class="text-danger" *ngIf="eid.errors?.required">
                    Id required </small>

            </div>
        </div>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" [class.is-invalid]="ename.invalid && ename.touched" minlength="5"
            required placeholder="enter name" #ename="ngModel" ngModel name="ename" /> -->
        <!-- <span>{{ename.className}}</span> -->
        <!-- <div *ngIf="ename.touched">
            <div *ngIf="ename.errors && (ename.invalid)">
                <small class="text-danger" *ngIf="ename.errors?.required">
                    ename required </small>
                <small class="text-danger" *ngIf="ename.errors?.minlength">
                    it should have minimin 5 characters</small>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" minlength="5"
            required placeholder="enter email" #email="ngModel" ngModel name="email" /> -->
        <!-- <span>{{ename.className}}</span> -->
       <!-- <div *ngIf="email.touched">
            <div *ngIf="email.errors && (email.invalid)">
                <small class="text-danger" *ngIf="email.errors?.required">
                    email required </small>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" minlength="5"
            required placeholder="enter password" #password="ngModel" ngModel name="password" />
        
        <div *ngIf="password.touched">
            <div *ngIf="password.errors && (password.invalid)">
                <small class="text-danger" *ngIf="password.errors?.required">
                    password required </small>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" [class.is-invalid]="phone.invalid && phone.touched" minlength="5"
            required placeholder="enter phone" #phone="ngModel" ngModel name="phone" />
        <div *ngIf="phone.touched">
            <div *ngIf="phone.errors && (phone.invalid)">
                <small class="text-danger" *ngIf="phone.errors?.required">
                    Phone required </small>
            </div>
        </div>
    </div>
    <div ngModelGroup="address">
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="enter city" #city="ngModel" ngModel name="city" />
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="enter country"
            required
            #country="ngModel" ngModel name="country" />
            <div *ngIf="country.touched">
                <div *ngIf="country.errors && (country.invalid)">
                    <small class="text-danger" *ngIf="country.errors?.required">
                        Country required </small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" 
            placeholder="enter zipcode" #zipcode="ngModel" ngModel name="zipcode" />
        </div>
        
    </div>
    <div class="mb-3">
        <button type="submit">Add Employee</button>
    </div>
</form>

</div> -->

<div class="container">
    <h1>Add Employee</h1>
    <div *ngIf="error">
        <span>{{errMsg}}</span>
    </div>
    <form #emp="ngForm">
        <div class="mb-3">
            <input type="text" class="form-control" [class.error]="eid.invalid && eid.touched" 
            required
                placeholder="enter id" #eid="ngModel" ngModel name="eid"/>
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="eid.touched">
                <div *ngIf="eid.errors && (eid.invalid)">
                    <small class="text-danger" *ngIf="eid.errors['required']">
                        Id required </small>
    
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" [class.is-invalid]="ename.invalid && ename.touched" minlength="5"
                required placeholder="enter name" #ename="ngModel" ngModel name="ename" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="ename.touched">
                <div *ngIf="ename.errors && (ename.invalid)">
                    <small class="text-danger" *ngIf="ename.errors['required']">
                        ename required </small>
                    <small class="text-danger" *ngIf="ename.errors['minlength']">
                        it should have minimin 5 characters</small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" minlength="5"
                required placeholder="enter email" #email="ngModel" ngModel name="email" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="email.touched">
                <div *ngIf="email.errors && (email.invalid)">
                    <small class="text-danger" *ngIf="email.errors['required']">
                        email required </small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" minlength="5"
                required placeholder="enter password" #password="ngModel" ngModel name="password" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="password.touched">
                <div *ngIf="password.errors && (password.invalid)">
                    <small class="text-danger" *ngIf="password.errors['required']">
                        password required </small>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" [class.is-invalid]="phone.invalid && phone.touched" minlength="5"
                required placeholder="enter phone" #phone="ngModel" ngModel name="phone" />
            <!-- <span>{{ename.className}}</span> -->
            <div *ngIf="phone.touched">
                <div *ngIf="phone.errors && (phone.invalid)">
                    <small class="text-danger" *ngIf="phone.errors['required']">
                        Phone required </small>
                </div>
            </div>
        </div>
        <h5>Address:</h5>
        <div ngModelGroup="address">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="enter city" #city="ngModel" ngModel name="city" />
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="enter country"
                required
                #country="ngModel" ngModel name="country" />
                <div *ngIf="country.touched">
                    <div *ngIf="country.errors && (country.invalid)">
                        <small class="text-danger" *ngIf="country.errors['required']">
                            Country required </small>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" 
                placeholder="enter zipcode" #zipcode="ngModel" ngModel name="zipcode" />
            </div>
            
        </div>
        <div class="mb-3">
            <input type="button" (click)="addEmployee(emp)" 
            [disabled]="emp.invalid" value="Add Employee"/>
        </div>
    </form>
    
    </div>