<!-- string interpolation -->
<div class="container">
   
    <!-- <h1>{{title}}</h1>
    <h1 [innerText]="title"></h1>
    <h3>{{message}}</h3>
    <input type="text" [(ngModel)]="message"/>
    
    <button [disabled]="isEnabled" 
    (click)="clicked()"
    class="btn btn-primary">Click Me</button> -->
    <!-- <app-lifecycle></app-lifecycle> -->
    <!-- <app-reactive></app-reactive> -->
    <!-- <app-promise-obs></app-promise-obs> -->
    <!-- <app-service-comp></app-service-comp>
    <hr/>
    <input type="text" [(ngModel)]="ds.message"/>
    <h3>Message in App : {{ds.message}}</h3> -->
    <!-- <app-pipes></app-pipes> -->
    <app-header></app-header>
    <button (click)="addEmp()">Add Employee</button>
    <app-emptemplateform *ngIf="add" (newemp)="newEmployeeEmitted($event)"></app-emptemplateform>
    <app-employeelist [newemp]="newemp"></app-employeelist>
    <app-footer></app-footer>
</div>