<div >
    <h1>parent component! {{pcountry}}</h1>
    <select [(ngModel)]="pcountry" class="form-select mb-5">
        <option value="india">India</option>
        <option value="usa">USA</option>
        <option value="uk">UK</option>
        <option value="ireland">Ireland</option>
    </select>
    <h4>{{emp | json}}</h4>
    <p><input type="text" [(ngModel)]="emp.name" placeholder="Enter employee name"/></p>
    <input type="checkbox" [(ngModel)]="show"/>
<app-child  *ngIf="show"
[country]="pcountry" [employee]="emp"></app-child>
</div>
