h1{
    color:brown;
    background-color: antiquewhite;
    padding: 10px;
}
button{
    margin-right: 10px;
}
.edit{
    display: block;
    transition: 1s ease-in all;
}
.editform{
    position:fixed;
    top: 30%;
    left: 50%;
    width:30em;
    padding: 10px;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    background-color: #f3f3f3;

    /* opacity: 0;
    transition: opacity 1s ease-in-out,margin-left 500ms ease-in-out; */
}
.border{
    
    color: green;
}
/* .editform{
    opacity: 100;
    margin-left: 0;
  } */
/* .editform{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 100px;
    margin: auto;
    background-color: #f3f3f3;
} */